{#
/**
 * @file
 * Theme override to hide image fields inside a disclosure by default.
 *
 * @see template_preprocess_image()
 *
 * @ingroup themeable
 */
#}
<details>
  <summary>
    Load image
  </summary>
  <img{{ attributes }} />
</details>
